*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 103%;
}
#one{
    height: 120%;
    width: 100%;
    background-color: rgb(233, 92, 40);
}
#two{
    padding: 90px 5px;
    display: flex;
    gap: 10px;
    height: 80%;
    width: 100%;
}
img{
    height: 100px;
    width: 115px;
}
#four{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    position: absolute;
    left: 3%;
    top: 2%;
    z-index: 1;
    font-weight: 100;
    text-align: center;
    font-style: italic;
}
#six{
    height: 600px;
    width: 380px;
    position: absolute;
    top: 30%;

}
a{
    position: absolute;
    left: 34%;
    top: 106%;
    font-size: 30px;
    padding: 8px 8px;
    border-radius: 20px;
    background-color: rgb(102, 145, 159);
    color: aliceblue;
    text-decoration: none;

}